<!DOCTYPE html>
<html lang="en">
<HEAD>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151532489-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-151532489-3');
    </script>
</HEAD>
<body>
div class="container">
{% include header.html %}
<div class="row">
    <div class="col-8">
        {{ content }}
    </div>
    <div class="col-4">
        <img src="{{ site.url }}/assets/images/personal.jpg" class="img-fluid" alt="Responsive image">
    </div>
</div>

{% include footer.html %}
</div>
</body>
</html>