<!DOCTYPE html>
<html lang="en">
<!-- Marketing Icons Section -->
<div class="row">
    <div class="col-lg-4 mb-4">
        <div class="card h-100">
            <h4 class="card-header">About Me</h4>
            <div class="card-body">
                <p class="card-text">Get to learn a little bit more about me by clicking the link below!</p>
            </div>
            <div class="card-footer">
                <a href="{{ site.url }}/{{ about }}" class="btn btn-primary">About Me</a>
            </div>
        </div>
    </div>
</div>
<body>

</body>
</html>